@use '../base/mixins' as mix;

.all-routes-container {
    width: 100%;
    z-index: 103;
    display: flex;
    margin: 2em auto;

    @include mix.desktop {
        width: 75%;
        margin-top: 18vh;
    }
}

.all-routes-routes-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.all-routes-route-container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mix.desktop {
        flex-direction: row;
    }

}

.all-routes-route-id {
    text-align: center;
    margin: 1em 0;

    h4 {
        color: #fff;
        font-weight: bold;
        font-size: 1.6em;
        padding: .5em 1em;
        border-radius: .6em;
    }

    @include mix.desktop {
        max-width: 3em;
        width: 7%;
        margin: 1.5em;

        h4 {
            padding-right: 1.5em;
        }
    }

}

.all-routes-route-name-and-description {

    @include mix.desktop {
        padding: 2em 0;
        margin: 0 -1em;
    }
}

.all-routes-route-name {
    font-weight: bolder;
    text-align: center;

    @include mix.desktop {
        padding: .2em 1.5em;
        text-align: start;
    }
}

.all-routes-route-description {
    text-align: center;
    padding: 1em 1.5em;

    p {
        font-size: 1em;
        color: black;
    }

    @include mix.desktop {
        text-align: start;
        padding: 0em 1.5em;

    }
}

.all-routes-title {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: .3em;
    margin: .5em;
    padding: .3em 0;

}