@use '../base/mixins' as mix;

.custom-header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;

    @include mix.tablet {
        display: block;
    }
}

.custom-header-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    .logo {
        width: auto;
        height: 9.5em;
    }

    .menu {
        cursor: pointer;
        margin-top: 1em;
        width: auto;
        height: 3.5em;

        @include mix.desktop {
            display: none;
        }
    }

    @include mix.desktop {
        flex-direction: row;
        padding: .5em;
        background-color: rgb(255, 255, 255, .8);

        .logo {
            width: auto;
            height: 6em;
        }
    }

}

.items-header {
    display: none;

    @include mix.desktop {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;

        h3 {
            margin: 0 2em;
            font-size: 2.4rem;
        }
    }
}

.overlay-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255, .7);
    display: flex;
    justify-content: center;

    .logo {
        padding: 1em 5em;
        width: auto;
        height: 11.5em;
    }

    @include mix.desktop {
        display: none;
    }
}

.items-overlay {
    position: absolute;
    top: 15em;

    h3 {
        margin: .3em 0;
        cursor: pointer;
    }
}

.bt-close {
    cursor: pointer;
    position: absolute;
    top: 25em;
}