@use '../base/mixins' as mix;

.custom-header{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;

    @include mix.tablet{
        display: block;
    }
}

.custom-header-elements{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em ;

    .logo{
        width: auto;
        height: 8em;
    }

    .menu{
        cursor: pointer;
        width: auto;
        height: 4em;
        @include mix.tablet{
            display: none;
        }
    }

    @include mix.desktop{
        flex-direction: row;
        padding: .5em;
        background-color: rgb(255, 255, 255,.8);
        img{
            width: auto;
            height: 6em;
        }
    }
    
}

.items{
    position: absolute;
    top: 125%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        margin: .3em 0;
        cursor: pointer;
    }

    @include mix.desktop{
        position: relative;
        visibility: visible;
        width: 100% ;
        flex-direction: row;
        justify-content: end;
        h3{
            margin: 0 1em;
            color: black;
            font-size: 2.2;
        }
    }
}

.overlay-menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255,.7);
    display: flex;
    justify-content: center;
    .logo{
        padding: 1em 2em;
        width: 100%;
        height: 30%;
    }
    @include mix.desktop{
        display: none;
    }
}
