@use '../base/mixins' as mix;

.section {
    position: relative;
    z-index: 103;
    display: flex;

    @include mix.desktop {
        align-items: center;
        height: 70vh;
        margin-top: 15vh;
    }
}

.section-elements {
    display: flex;
    flex-direction: column;
    margin: 3em 0;

    @include mix.desktop {
        flex-direction: row;
    }
}

.section-element {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1em;
    margin: 1em 1em;
    padding: 1.5em;

}

.section-images {
    text-align: center;

    img {
        width: 15em;
        // height: auto;
    }

    @include mix.desktop {
        img {
            width: 20em;
        }
    }
}

.section-info {
    text-align: center;

    p {
        font-size: 1em;
        color: black;
    }

}